* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.header {
  padding: 12px 0px 12px;
  background-color: #635854;
  border-bottom: 4px solid blue;
}
.navbar {
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-menu {
  display: flex;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar-item {
    display: flex;
  margin-left: 40px;
  margin-right: 40px;
}
.navbar-link {
    margin-left: 100px;
  text-decoration: none;
  color: #fff;
}
.navbar-link:hover{
    width: 130px;
    height: 40px;
    background-color:rgba(0, 0, 255, 0.3) ;
    
}
.navbar-kontakt {
  text-align: right;
}
.navbar-text {
  display: flex;
  color: #fff;
  margin-bottom: 4px;
}
.navbar-phone {
  font-size: 500;
  font-size: 17px;
  line-height: 20px;
  color: #fff;
}
.main {
  display: flex;
  max-width: 1200px;
  margin: auto;
  padding-top: 54px;
}

.home-image path {
  opacity: 0;
  cursor: pointer;
}

path .current-floor {
  opacity: 1;
}
.home-image path:hover {
  opacity: 1;
}
.main-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: 1;
  text-align: center;
  margin-left: 100px;
}
.counter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter-btn {
  cursor: pointer;
  border: none;
  background-color: #fff;
}
.main-titel {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 37px;
  font-weight: 400;
  font-size: 37px;
  color: #635854;
}
.counter {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #635854;
  font-size: 124px;
  margin: 10px 0px;
}
.bytton-primary {
  background-color: #3596f5;
  border-radius: 20px;
  border: none;
  padding: 16px 36px;
  cursor: pointer;
  color: #fff;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0);
  transition: o.2s;
}
.is-open{
    opacity: 1;
    transform: scale(1);
}
.modal-dialog {
    position: relative;
  max-width: 1000px;
  min-height: 560px;
  background-color: #fff;
  flex-grow: 1;
  display: flex;
}
.modal-imeg {
  background-color: #ebebeb;
  width: 60%;
  text-align: center;
  padding: 50px;
}
.modal-titel {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  margin-top: 0;
  margin-bottom: 25px;
}
.modal-info {
  width: 40%;
  padding: 50px 46px;
}
.flat-list {
  padding: 0;
  list-style: none;
  margin-top: 55px;
}
.flet-items {
  margin-top: 10px;
}
.flat-link {
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  text-decoration: none;
}
.flat-link:hover {
  color: #3596f5;
  text-decoration: underline;
}
.modal-alert {
    margin-top: 56px;
  font-size: 16px;
  line-height: 19px;
  color: #635854;
}
.modal-close-btn{
    position: absolute;
    top: 38px;
    right: 27px;
    cursor: pointer;
    border: none;
    background-color: #fff;

}